<div class="header-box">
    <% if (typeof isLoggedIn !=='undefined' && isLoggedIn==true) { %>
      <a>You are logged in. Click to </a>
      <a href="/api/key/logout">Logout</a>
    <% } else { %>
      <a>Having some problem ? </a>
      <a href="/api/key/logout">Click to fix</a>
    <% } %>
  </div>